<%- include('partials/header') -%>
<div class="container">
    <header class="jumbotron my-4">
        <h1 class="display-3">Welcome To Schoolies!</h1>
        <p class="lead">Schoolies is a forum for students and teachers to read and write posts about their college, classes, campuses, and more!</p>
    </header>
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/_ICd7dYNWF7PZTC8UnFE0f7HatVrM1RAaFukx5dYuYE4uqYLaj0DXNdcNAN_RXbwMEgx9W8_V1jT8tS0xQEOz8GUAY4smkNWfY4IE13SjvCxyIaADO3fswb9q66ZSV8" alt="">
                <div class="card-body">
                    <h4 class="card-title">Colleges</h4>
                    <p class="card-text">Learn more about colleges' campus life and style.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://d3dupjkkwlat3o.cloudfront.net/395138073621/8108685/1400w" alt="">
                <div class="card-body">
                    <h4 class="card-title">Classes</h4>
                    <p class="card-text">Know more about your classes and professors.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/58c9fe99f5e231f0df86179b/1504017391390-HK35326DFYJSSYIVZSIO/ke17ZwdGBToddI8pDm48kKc5JrecVlHQ1jRDzbdoK8BZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwR3nhnsLpdQ9ARmW4G8jXYijHcRVRHs8XdLaZ_E8GKA9lyMsMaQrYVH1g7d3xgN34/party.jpg?format=1500w" alt="">
                <div class="card-body">
                    <h4 class="card-title">Events</h4>
                    <p class="card-text">Keep an eye out for campus-wide events coming up.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/lalasports.co/products/allsports.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">Clubs</h4>
                    <p class="card-text">Look here for academic and athletic clubs.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->